body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    line-height: 1.5;
}
h1,h2,h3,h4 .button {
    font-family: 'Amatic SC', cursive;
}
h1{
    font-size: 80px;
    line-height: 1.1;
}
.about {
    background: #D1F2FB;
    font-size: 20px;
    margin: auto;
}
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 20px;
}
.about img{
    display: block;
}
.button{
    color: black;
    text-decoration: none;
    border: 1px solid #000;
    padding: 14px 20px;
    display: inline-block;
    transition: .3s;
}
.button:hover{
    background: #000;
    color: white;   
}
.logo{
    max-width: 200px;
    display: block;
    margin: 10px auto;
}