body {
  margin: 0;
  line-height: 1.5;
    
       
font-family: 'Assistant', sans-serif;
    font-size: 18px;
    color: black;
    
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    color: aqua;
}

h2 {
    color: blueviolet;
    font-weight: 700; 
}

