body {
    margin: 0;
    line-height: 1.5;


    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    color: black;

}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    color: #8ec7b8;
}

h2 {
    color: blueviolet;
    font-weight: 700;
}


.container {
    max-width: 800px;
    margin: auto;
}

.cta {
    background: #d89a4f;
    font-size: 21px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
}

.cta h3 {
    color: #415f79;
}

.button {
    background: red;
    color: #fff;
    text-decoration: none;
    padding: 14px;
    display: inline-block;
}

.alignleft {
    max-width: 50%;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
}

.news {
    padding: 60px;
    background: url(img/kitchen.jpg);
    background-position: center;
    background-size: cover;
    padding: 60px;
    text-align: center;
    font-size: 24px;
}
.news h2 {
    color: cadetblue;
}
