@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'opensans', arial, sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}

h2:after {
    content: "";
    border-bottom: 4px solid #8CA85E;
    width: 80px;
    display: block;
}

.features h2:after {
    content: "";
    border-bottom: 4px solid #8CA85E;
    width: 120px;
    display: block;
    margin: auto;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.button {
    text-decoration: none;
    color: white;
    background: black;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 10px;
    transition: 1s;
}

.button:hover {
    background: #8CA85E;
    color: black;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/coffee%20shop.jpg)center top;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    text-align: right;
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
    margin: auto;
    color: #e5bf68;
    position: relative;
}

.menu .banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/menu1.jpg)center top;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    text-align: right;
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
    margin: auto;
    color: #e5bf68;
    position: relative;
}

.price-list {
    list-style: none;
    padding: 0;
    font-size: 20px;
    columns: 2;
    column-gap: 40px;
}

.price-list li {
    display: flex;
    margin-bottom: 10px;
}

.line {
    flex: 1;
    border-bottom: 2px solid #8CA85E;
    height: 1em;
    margin: 0 5px;
}

.price {
    font-weight: bold;
}

.price-wrap img {
    width: 100px;
    margin: auto;
    display: block;
}
.price-wrap h2{
  text-align: center;
  margin-top: 0;
}
.price-wrap h2:after {
  margin: auto;
}

.logo {
    display: block;
    margin: 10px auto;
    padding: 10px;
}

header {
    text-align: center;
}

header .container {
    max-width: 600px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-bottom-color: white;
}

current a {
    font-weight: bold;
}

p {
    font-size: 20px;
}

.our-story {
    padding: 30px 0px;
}

.our-story .container {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.food .container{
    padding: 20px;
}

.our-story img {
    display: block;
    margin-right: auto;
    max-width: 100%;
}

.features {
    background: #e5bf68;
    text-align: center;
    padding: 20px;
}

.features ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 56px;
}

.features img {
    max-width: 80px;
}

.features h2 {
    color: black;
}

.features h2:after {
    margin: auto;
}


.features h3 {
    color: black;
    font-weight: 700;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
}

footer a {
    color: #8CA85E;
}

footer img {
    width: 30px;
}

.social a {
    margin: 0 3px;
}

.social {
    margin: 20px;
}

.custom-shape-divider-bottom-1617641121 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1617641121 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 56px;
}

.custom-shape-divider-bottom-1617641121 .shape-fill {
    fill: #FFFFFF;
}
