@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/400/opensanshebrew-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'opensans';
  src: url('fonts/opensans/700/opensanshebrew-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'opensans', arial, sans-serif;
  line-height: 1.5;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}